@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open San', sans-serif;
  background: #fff;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  /* This was if multiple lines words aren't far apart */
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/*? NavBar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  /* Kinda typical height for a navbar */
  position: fixed;
  top: 0px;
  padding: 0 30px;
}

.navbar a {
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: #28a745 2px solid;
}

.navbar ul {
  display: flex;
}

.navbar .logo {
  font-weight: 400;
}

/*? Header */
.hero {
  background: url('../images/home/showcase.jpg') no-repeat center center/cover;
  height: 100vh;
  /* Makes header take up 100% viewport */
  position: relative;
  color: #fff;
}

.hero.blog {
  background: url('../images/home/blog.jpg') no-repeat center center/cover;
  height: 30vh;
}

.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
  /* Padding 20px for smaller screens */
}

.hero .content h1 {
  font-size: 55px;
}

.hero .content p {
  font-size: 23px;
  max-width: 600px;
  margin: 20px 0 30px;
  /* 20px top, 0 left & right, 30px bottom */
}

/*? Pseudo Selector: Allows us to insert content BEFORE or AFTER this element */
.hero::before {
  content: '';
  position: absolute;
  /* With positioning if you have an absolute, the parent must be relative */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

/*? Anything in .hero */
.hero * {
  z-index: 10;
  /* We needed to bump the z-index b/c of the overlay in Pseudo Selector */
}

/*? Icons */
.icons {
  padding: 30px;
}

.icons h3 {
  font-weight: bold;
  margin-bottom: 15px;
}

.icons i {
  background-color: #28a745;
  color: #fff;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.cases img:hover {
  opacity: 0.7;
}

/*? Team Section */
.team img {
  border-radius: 50%;
}

/* Callback Form */
.callback-form {
  width: 100%;
  padding: 20px 0;
}

.callback-form label {
  display: block;
  margin-bottom: 5px;
}

.callback-form .form-control {
  margin-bottom: 15px;
}

.callback-form input {
  width: 100%;
  padding: 4px;
  height: 40px;
  border: #f5f5f5 1px solid;
}

.callback-form input:focus {
  outline-color: #28a745;
}

.callback-form .btn {
  padding: 12px 0;
  margin-top: 20px;
}

/* Post */
.post {
  padding: 50px 30px;
}

.post h2 {
  font-size: 40px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: #ccc solid 1px;
}

.post .meta {
  margin-bottom: 30px;
}

.post img {
  width: 300px;
  border-radius: 50%;
  /*TODO If I want to display img in the middle without flexbox */
  display: block;
  /* 0px on top - auto left and right - 30px bottom */
  margin: 0 auto 30px;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
}

.footer a {
  color: #fff;
  /* margin-right: 30px; */
}

.footer a:hover {
  color: #28a745;
}

/* '>*' means anything within .social */
.footer .social>* {
  margin-right: 30px;
}

/* Mobile Devices */
@media(max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: 120px;
    padding: 20px;
  }

  .navbar a {
    padding: 10px 10px;
    margin: 0 3px;
  }

  .flex-items {
    flex-direction: column;
  }

  .flex-columns .column,
  .flex-grid .column {
    flex: 100%;
    max-width: 100%;
  }

  .team img {
    width: 70%;
  }
}